@import "tailwindcss";

@theme {
  --color-foreground: hsl(20 14.3% 4.1%);
  --color-background: hsl(0 0% 100%);

  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(20 14.3% 4.1%);

  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(20 14.3% 4.1%);

  --color-primary: hsl(22 100% 50%);
  --color-primary-foreground: hsl(60 9.1% 97.8%);
  --color-primary-border: hsl(22 100% 50%);

  --color-secondary: hsl(32 100% 98%);
  --color-secondary-foreground: hsl(24 9.8% 10%);

  --color-muted: hsl(60 4.8% 95.9%);
  --color-muted-foreground: hsl(25 5.3% 44.7%);

  --color-accent: hsl(60 4.8% 95.9%);
  --color-accent-foreground: hsl(24 9.8% 10%);

  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(60 9.1% 97.8%);

  --color-border: hsl(20 5.9% 90%);
  --color-input: hsl(0 0% 90%);
  --color-ring: hsl(24.6 95% 53.1%);

  --radius: 1rem;
}

html {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* *,
::before,
::after {
  @apply border border-border;
} */

body {
  font-family: var(--font-nunito), sans-serif;
  @apply bg-background text-foreground;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #fff;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #dbdadd;
  border-radius: 6px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dbdadd;
}

@utility text-balance {
  text-wrap: balance;
}
